caption {
    font-size: 50px;
    font-style: bold;
    
}



.h1
    {
        font-size: 40px;
        justify-content: center;
        align-items: center;
        height: 10vh; 
        margin: 0; 
        padding: 0;
    }
    
.table {
        border-collapse: collapse;
    }
    
    tr, th, td {
        padding: 20px;
        border: 4px solid black;
        font-size: 40px;
        text-align: center; 
        vertical-align: middle; 
    }
body {
    background-color: white;
}

.formstyle {
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 70%;
    margin: auto;
    margin-left: 0; 
    padding: 20px;
}

#idstyle {
    color: aqua;
}

.submitbutton {
    background:black;
    color: white;
    width: 30%;
    height: 50px;
    padding: 10px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
